.signup {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .signup-box {
    padding: 40px;
    min-width: 400px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .heading {
    text-align: center;
  }

  label,
  input {
    display: block;
    width: 100%;
    margin-block: 8px;
    padding: 8px 16px;
    border-radius: 4px;
  }

  input {
    font-weight: bold;
    border: 1px solid black;
  }

  label {
    font-weight: bold;
  }

  .submit {
    background-color: lightseagreen;
    border: none;
    color: aliceblue;
    margin-top: 16px;
    font-weight: bold;
  }

  .submit:hover {
    background-color: aqua;
  }

  .link {
    text-align: center;
  }
}
