@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Poppins,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8efff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --border-color: #f0f0ff;
  --accent-color: #0099e5;
  --dark-border-color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, "Helvetica Neue";
  color: #212121;
}

h3,
h6 {
  font-weight: 400;
}

p {
  color: #555;
  font-size: 0.9rem;
}

.hover-link {
  cursor: pointer;
}

.hover-link:active {
  color: red;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn-primary:hover {
  background-color: #72a2e9;
}

.btn-primary:active {
  background-color: var(--accent-color);
}

.btn-secondary {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  /* background: none; */
}
.btn-secondary:hover {
  background-color: #ddd;
}

.btn-secondary:active {
  background: none;
}
