.Profile {
  height: 100vh;
  .container {
    display: flex;
    gap: 20px;

    .left-part {
      flex: 2;
    }
    .right-part {
      flex: 1;
      margin-top: 20px;
    }
    .profile-card {
      border: 2px solid var(--border-color);
      border-radius: 4px;
      text-align: center;
      padding: 40px;
      .follow-link {
        color: var(--accent-color);
      }
      .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .username {
        margin-top: 12px;
        //display: flex;
        //justify-content: center;
        font-size: large;
        word-spacing: 1px;
        letter-spacing: 0.5px;
      }

      .follower-info,
      .bio {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        //justify-content: evenly;
        gap: 40px;

        // .follower-text,
        // .following-text {
        //   letter-spacing: 0.5px;
        // }
      }

      .follow-btn,
      .update-btn {
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}

// ----------------------------------------------------------
.Profile-dark {
  height: 100vh;
  background-color: #23272a;
  .container {
    display: flex;
    gap: 20px;

    .left-part {
      flex: 2;
    }
    .right-part {
      flex: 1;
      margin-top: 20px;
    }
    .profile-card {
      background-color: #222222;
      border: 2px solid var(--border-color);
      border-radius: 4px;
      text-align: center;
      padding: 40px;
      .follow-link {
        color: var(--accent-color);
      }
      .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .username {
        margin-top: 12px;
        //display: flex;
        //justify-content: center;
        font-size: large;
        color: #ffffff;
      }

      .follower-info,
      .bio {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        //justify-content: evenly;
        gap: 40px;

        .follower-text,
        .following-text {
          color: #ffffff;
        }
      }

      .follow-btn,
      .update-btn {
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
}
