.follower {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  .user-info {
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .follow-link {
    background-color: white;
    color: #4434a4;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    border: 1px solid #4434a4;
  }
}
.follower-dark {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  .user-info {
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    .name {
      color: white;
    }
  }
  .follow-link {
    background-color: #4434a4;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    border: 1px solid #4434a4;
  }
}
